@font-face {
    font-family: "Lato";
    src: url("../Resources/Lato/Lato-Light.ttf");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

:root {
    background: orange;
}

::placeholder {
    color: rgb(0, 145, 200);
    opacity: 1;
    font-weight: bolder;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Lato";
    color: white;
}

button,
button>span {
    color: white;
    transition: .75s;
}

button:hover>span {
    color: rgb(0, 145, 200);
    transform: scale(1.1);
}

form {
    display: flex;
    flex-flow: row wrap;
    place-content: flex-start flex-start;
    place-items: flex-start flex-start;
}

#content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas:
        "nav nav nav"
        "birdsEye gap stats"
        "week week week"
    ;

    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-width: 100vh;
}

#nav {
    grid-area: nav;
    background: rgb(36, 41, 46);
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
    place-items: center center;
    gap: 20px;
}

#logo {
    display: flex;
    flex-flow: row wrap;
    place-content: center center;
    place-items: center center;
    gap: 10px;
    font-size: 30px;
    transition: .75s;
}

#logo>span {
    font-size: 35px;
}

#logo:hover,
#logo:hover>span {
    transform: scale(1.1);
    color: rgb(0, 145, 200);
}

.submitButton {
    display: flex;
    flex-flow: row wrap;
    place-content: center center;
    width: 25px;
    height: 25px;
    gap: 20px;
    border-radius: 5px;
    background: transparent;
    border: 0px solid transparent;
    color: white;
}

.searchForm>input {
    border: 1px solid black;
    transition: .75s;
}

.searchForm>input:hover,
.searchForm>input:focus {
    transform: scale(1.1);
}

.searchForm>input,
.searchForm>input:focus {
    background: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
}

.displayMetricImperial{
    background: transparent;
    border: 0px solid transparent;
    color: white;
    transition: .75s;
    font-weight: bolder;
}

.displayMetricImperial:hover{
    transform: scale(1.1);
    color: rgb(0, 145, 200);
    font-weight: bolder;
}

#birdsEye {
    grid-area: birdsEye;
    background: blue;
    display: flex;
    flex-flow: column wrap;
    place-content: flex-start flex-start;
    place-items: flex-start  flex-start;
    background: rgb(36, 41, 46);
}

.birdsEyeWidgetContainer{
    display: flex;
    flex-flow: column wrap;
    place-content: flex-start   flex-start ;
    place-items:  flex-start  flex-start ;
    gap: 10px;
    margin: 20px;
}

.weatherIcon{
    display: flex;
    flex-flow: row wrap;
    place-content: center center;
    place-items: center center;
}

#gap {
    grid-area: gap;
    background: orange;
}

#stats {
    grid-area: stats;
    background: red;
}

#week {
    grid-area: week;
    background: magenta;
}